*.o
*~
.deps
.dirstamp
/build-aux/texinfo.tex
ABOUT-NLS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
contrib/argp-standalone/libargp.a
depcomp
doc/freetalk.info
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
extensions/first-time-run.sh
extensions/init.scm
install-sh
m4/
mdate-sh
missing
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.gmo
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.header
po/en@quot.insert-header
po/en@quot.po
po/freetalk.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/freetalk
stamp-h1
