.deps
*.o
Makefile
Makefile.in
doc/texinfo.tex
mdate-sh
missing
config.log
config.rpath
config.guess
config.sub
config.status
configure
config.h.in
config.h
stamp-h1
depcomp
compile
extensions/init.scm
extensions/first-time-run.sh
*~
autom4te.cache
aclocal.m4
ABOUT-NLS
INSTALL
install-sh
#getttext
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
doc/freetalk.info
doc/stamp-vti
doc/version.texi
po/en@boldquot.gmo
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.po
po/freetalk.pot
po/stamp-po
m4/
src/freetalk
po/en@boldquot.insert-header
po/en@quot.insert-header
po/remove-potcdate.sed
contrib/argp-standalone/libargp.a